body{
    box-sizing: border-box;
    margin: 1%;
    padding: 2%;
    line-height: 1.15;
}

html{
    scroll-behavior: smooth;
}



header {
  background-color: lightgrey;
  padding: 22px 18px;

}

.profile-grid {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 14px;
}

header img{
    width: 50%;
    max-height: none; 
}


ul{
    display: flex;
    flex-direction: column;
    
}

nav a{
     border: 2px dotted purple;
}

.skip a{
     position: absolute; 
     top: 10px; 
     transition: top, 1s, ease-in;
}

.skip a:focus{
     top: 25px;
}

*:focus{
      border: 5px dash green;
}

img{
    width: 95%;
    max-height: 50vh;
}
.meet-grid{
    display:grid; 
    grid-template-columns: repeat(3, 30%);

}

article{
    padding: 2px;
    border: 2px solid black;
}

summary{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: solid black 2px;
    background-color:lightgrey;
    align-items: center;
    transition: background-color 1s ease;
}

summary:hover{
    background-color: white;
    font-size: 15px;
}


.podium {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 100px 100px 1fr; 
    gap: 20px;
    margin-top: 50px;
  
}

.gold { 
    grid-column: 2; 
    grid-row: 1/span 3; 
    border: 4px solid gold;
    background-color: #fffdf0;
}

.silver { 
    grid-column:1;
    grid-row: 2 /span 2;
    border: 4px solid silver;
    background-color: #f5f5f5;
}

.bronze { 
    grid-column: 3;
    grid-row: 3;
    border: 4px solid #cd7f32;
    background-color: #faf4ee;
}

/* Ensure images inside the podium don't break the layout */

.podium img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}
*/
.podium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end; /* Keeps them sitting on the floor */
    background-color: yellow;
    color: #444;
}

.a {
		grid-column-start: 1;
		grid-column-end: -1;

	}
	.b {
/* 		grid-column-start: 2;
		grid-column-end: 3; */
/* 		grid-row-start: 2;
		grid-row-end: 3; */
	}
	.c {
/* 		grid-column-start: 3;
		grid-column-end: 4; */
/*  		grid-row-start: 2;
		grid-row-end: 3;  */
	}
	.d {
/* 		grid-column-start: 1;
		grid-column-end: 2; */
/* 		grid-row-start: 1;
		grid-row-end: 2; */
	}
	.e {
/* 		grid-column-start: 1;
		grid-column-end: 2; */
/* 		grid-row-start: 2;
		grid-row-end: 3; */
	}
	.f {
/* 		grid-column-start: 3;
		grid-column-end: 4; */
/* 		grid-row-start: 1;
		grid-row-end: 2; */
	}


.meet-card{
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: space-between;
}

@media screen and(prefers-reduced-motions:reduce) {
    html{
        scroll-behavior: none;  
    }
    summary{
        transition:none;   
    }
}

@media(hover:hover) and (pointer:flex){
    summary a:hover{
        background:yellow;
    }
}
/* 
body, nontouch, summary:hover{

} */